body{
	background-color:#ded9d5;
	background-image:url('../img/backgrounds/old_leather.jpg');
}

.content-container{
	background-color: $white-rgba;
}

blockquote{
	font-size: inherit;
}



.titleRow{
	h1{
		font-family:$serif-bold;
		font-family:$mate;
		font-size:8vw;
		padding-top:52px;
	}
}

#wheel{
	margin: 0 auto;
	//width:60%;
	position: relative;
	top:-20px;
	@include rotate(0deg);
	

	
}

#wheel>img{
	margin: 112px auto;
	display:block;
	position:relative;
	width:70%;
	//margin-top:111px;
}


.quad_label{
	h2{
		font-family: $serif-bold;
		font-family: $mate;
		font-size: 5vw;
		text-align: center;
	}
	background-color: black;
	background-color: $black-rgba;
	//border-bottom:4px solid white;
	color: $snow;
	/*position: absolute;
	z-index: 5;
	height: 33%;
	width:77%;
	text-align:center;
	//useful for aligning
	//border-bottom: 2px solid $burnt-orange;
	*/
}
.quad_active{
	color: $burnt-orange;
	//border-bottom: 4px solid $burnt-orange;
	background-color: white;
	background-color: $white-rgba;
}

.nav-item{
	cursor: pointer;
	//removes ugly highlight on text
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.wheelRow{
	//border-bottom:3px solid white;
}

//these are the OLD styles for the spinning wheel
/*
.quad_label_0{
	//@include rotate(90deg);
	top:-28%;
	left:12%;
  //  width: 64%;
}

.quad_label_1{
	@include rotate(90deg);
	top: 40%;
	right: -31%;
}

.quad_label_2{
	@include rotate(180deg);
	bottom: -25%;
	left:12%;
}

.quad_label_3{
	@include rotate(270deg);
	top: 39%;
	left: -31%;
}
*/


.content-container{
	//background-image: url('../img/backgrounds/splattered_paper_1920_wide.jpg');
		//width:97%;
		//margin:1%;
	background-color:$white-rgba;
}
.contentRow{
	//min-height:10%;
	/*margin-bottom:2%;
	margin-right:-30px;
	margin-left:-30px;
	overflow: hidden;
	*/
	//width:90%;
	.inner{
		
		position: relative;
	}
	
	.contentRow-content{
		//background-color:$white-rgba;
		//you must also change this in the JS
		height:61%;
		overflow-y: scroll;
		padding:25px;
		padding-bottom: 95px;
		
		.ajaxContent{
			font-size:150%;
			h3{
				//font-size:36px;
				//font-family: $amatic;
			}
			.title{
				font-size:9rem;
				font-family: $amatic;
			}
		}
		
	}
	
	.contentRow_expandBtn{
		.btn{
			font-size: 1vw;
			color: white;
			background-color: $burnt-orange;
				&:hover, &:active{
					color: $blue;
				}
			}
		position: absolute;
		bottom: 0;
		left: 92%;
	}
	
	
}

.subNavContent{
	//min-height:17%;
	.icon_button{
		//no border for now, line spacing annoying
		//border-bottom: 2px solid black;
		border-bottom: 2px solid transparent;
	}
	.subnav_active{
		color: $burnt-orange;
		border-bottom: 2px solid $burnt-orange;
		
	}
	background-color: white;
	background-color: $white-rgba;
	//border-bottom: 3px solid white;
/*	h3{
		font-size:3vw;
	}
	
*/	
	
	
    //margin-bottom: 8%;
	//height:12%;
	
}

.subNavIcon{

	h3{
		font-size:4vw;
		margin-top:-25%;
		font-family: $amatic;
		font-weight:900;
		margin-left:5%;
		//this sucks on smaller screen, deal with later
		//min-height:162%;
	}
	
	img{
		max-width:71%;
	}
}




.toolbar-container{
	position: fixed;
	bottom:-18px;
	left:0;
	.toolbar{
		font-size:80px;
		float:right;
		display:inline;
		position:relative;
		left:-85px;
		top:10px;
	}
	width: 100%;
    background-color: white;
    background-color: $white-rgba;
	//background-image: url('../img/backgrounds/splattered_paper_1920_wide.jpg');
    height: 7%;
}


