
body{
	background-color:#ded9d5;
	background-image:url('../img/backgrounds/old_leather.jpg');
}

#wheel{
	margin: 0 auto;
	width:60%;
	position: relative;
	@include rotate(0deg);
	
	.quad_active{
		color: $burnt-orange;
		border-bottom: 4px dotted $yellow;
	}
	
}

#wheel>img{
	margin: 112px auto;
	display:block;
	position:relative;
	width:70%;
	//margin-top:111px;
}

.quad_label{
	h2{
		font-family: $cursive;
		font-size: 8vw;
	}
	position: absolute;
	z-index: 5;
	height: 33%;
}

.nav-item{
	cursor: pointer;
	//removes ugly highlight on text
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.quad_label_0{
	//@include rotate(90deg);
	top:-28%;
	left:38%;
  //  width: 64%;
}

.quad_label_1{
	@include rotate(90deg);
	top: 34%;
	right: -14%;
}

.quad_label_2{
	@include rotate(180deg);
	bottom: -29%;
	left:45%;
}

.quad_label_3{
	@include rotate(270deg);
	top: 35%;
	left: -7%;
}

.contentRow{
	//min-height:10%;
	margin-bottom:2%;
	.inner{
		background-image: url('../img/backgrounds/splattered_paper_1920_wide.jpg');
		width:97%;
		margin:1%;
		position: relative;
	}
	
	.contentRow-content{
		background-color:$white-rgba;
		//you must also change this in the JS
		height:39%;
		overflow-y: scroll;
		padding:25px;
	}
	
	.contentRow_expandBtn{
		.btn{
			font-size: 1vw;
			color: white;
			background-color: $burnt-orange;
				&:hover, &:active{
					color: $blue;
				}
			}
		position: absolute;
		bottom: 0;
		left: 92%;
	}
	
	
}

.subNavContent{
	//min-height:17%;
	.icon_button{
		border-bottom: 2px solid black;
	}
	.subnav_active{
		color: $burnt-orange;
		border-bottom: 2px solid $burnt-orange;
	}
	h3{
		font-size:4vw;
	}
	
	
	
	
    margin-bottom: 8%;
	height:12%;
	
}

.subNavIcon{

	h3{
		margin-top:-25%;
		font-family: $amatic;
		font-weight:700;
		margin-left:5%;
	}
	
	img{
		max-width:71%;
	}
}



.wheelRow{

}


