@include include-custom-font( TheSans_B2_3_, sans );
@include include-custom-font( TheSans_B2_5_, sans );
@include include-custom-font( TheSans_B2_7_, sans );

@include include-custom-font( TheSerif_3_, serif );
@include include-custom-font( TheSerif_4_, serif );
@include include-custom-font( TheSerif_6_, serif );


$base-size: 16;

$sans-serif:        "TheSans_B2_3_", "Helvetica Neue", Helvetica, Arial, sans-serif;
$sans-serif_medium: "TheSans_B2_5_", "Helvetica Neue", Helvetica, Arial, sans-serif;
$sans-serif_bold:   "TheSans_B2_7_", "Helvetica Neue", Helvetica, Arial, sans-serif;

$serif:             "TheSerif_3_", Georgia, "Times New Roman", Times, serif;
$serif_light:       "TheSerif_4_", Georgia, "Times New Roman", Times, serif;
$serif_bold:        "TheSerif_6_", Georgia, "Times New Roman", Times, serif;

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $sans-serif_bold;
	font-weight: normal;
	line-height: 1.25;
}

b,
.bold,
strong { 
	//font-family: $serif_bold;
	font-weight: normal;
}

.italic {
	font-style: italic;
}

//fonts for PIM app
//download the Google fonts locally using this tool:
//https://google-webfonts-helper.herokuapp.com
/* amatic-sc-regular - latin */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/amatic-sc-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Amatic SC Regular'), local('AmaticSC-Regular'),
       url('../fonts/amatic-sc-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/amatic-sc-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/amatic-sc-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/amatic-sc-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/amatic-sc-v11-latin-regular.svg#AmaticSC') format('svg'); /* Legacy iOS */
}

/* mate-sc-regular - latin */
@font-face {
  font-family: 'Mate SC';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/mate-sc-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Mate SC Regular'), local('MateSC-Regular'),
       url('../fonts/mate-sc-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/mate-sc-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/mate-sc-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/mate-sc-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/mate-sc-v6-latin-regular.svg#MateSC') format('svg'); /* Legacy iOS */
}

//$cursive: 'Satisfy', cursive;
$amatic: 'Amatic SC', cursive;
//$holtwood: 'Holtwood One SC', serif;
$mate: 'Mate SC', serif;